<section class="bg-primary" id="about">
    <div class="container">
        <div class="col-md-8 mx-auto text-center">
            <h2 class="section-heading text-white">What is Solace?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Solace is a middleware company that enables event-driven communications between devices and applications running
                in clouds and datacenters using open APIs and protocols via their unified message broker supporting publish/subscribe,
                queuing, request/reply and streaming across hybrid cloud environments.</p>
            <h2 class="section-heading text-white">What is the Internet of Things (IoT)?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">The Internet of Things (IoT) is the network of physical devixes, vehicles, home appliances and other items embedded
                with electronics, software, sensors, actuators, and connectivity which enables these objects to connect and
                exchange data.</p>
            <br>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#getStarted">Get Started</a>
        </div>
    </div>
</section>