<section id="getStarted">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How do I get started?</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-cloud text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">1. Solace Cloud</h3>
                    <p class="text-muted mb-0">Get started with Solace Cloud today. It's free!</p>
                    <br>
                    <a target="_blank" class="btn btn-primary sr-button" href="https://cloud.solace.com/signup/">Sign Up</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-desktop text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">2. Raspberry Pi</h3>
                    <p class="text-muted mb-0">Buy and configure a Raspberry Pi</p>
                    <br>
                    <a target="_blank" class="btn btn-primary sr-button" href="https://www.amazon.com/CanaKit-Raspberry-Complete-Starter-Premium/dp/B07BLRSKBV/ref=sr_1_8?ie=UTF8&qid=1527957460&sr=8-8&keywords=canakit+raspberry+pi+3+b%2B">Buy</a>
                    <a target="_blank" class="btn btn-primary sr-button" href="https://www.w3schools.com/nodejs/nodejs_raspberrypi.asp">Configure</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <a href="#auto-provisioning">
                        <i class="fa fa-4x fa-pencil-square-o text-primary mb-3 sr-icons"></i>
                    </a>
                    <h3 class="mb-3">3. Message Router</h3>
                    <p class="text-muted mb-0">Use our self-service configuration tool.</p>
                    <br>
                    <a class="btn btn-primary sr-button js-scroll-trigger" href="#configureRouter">Setup</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-thumbs-o-up text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">4. Try it out!</h3>
                    <p class="text-muted mb-0">Clone the repo and start talking to your home today.</p>
                    <br>
                    <a target="_blank" class="btn btn-primary sr-button" href="https://github.com/mkenned22/Solace-Development">GIT</a>
                </div>
            </div>
        </div>
    </div>
</section>