<h1>Solace Messaging Made Easy!</h1>
<h2>Do you want to use Solace, but do not know how to get started?</h2>
<a href="/smurph"><button>Get Started</button></a>
<a href="/admin"><button>Admin Portal</button></a>
