<h1>Congrats!</h1>
<h2>You have successfully configured your Solace router. Please use the information for the publisher and subscriber below to begin communicating with your Raspberry Pi.</h2>
{{#with data}}
<p>Subscriber Username: {{subscriber}}</p>
<p>Subscriber Password: {{subPassword}}</p>
<p>Publisher Username: {{publisher}}</p>
<p>Publisher Password: {{pubPassword}}</p>
{{/with}}
