<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SMURPH</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#getStarted">Get Started</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#configureRouter">Configure Router</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header></header>

<section id="success" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading"><h2>Congrats!</h2>
                <hr class="my-4">
                <p class="mb-5">You have successfully configured your Solace router. Please use the information for the publisher and subscriber below to begin communicating with your Raspberry Pi.</p>
                {{#with data}}
                <p class="mb-5">Subscriber Username: {{subscriber}}</p>
                <p class="mb-5">Subscriber Password: {{subPassword}}</p>
                <p class="mb-5">Publisher Username: {{publisher}}</p>
                <p class="mb-5">Publisher Password: {{pubPassword}}</p>
                {{/with}}
                
                <p class="mb-5"></p>
            </div>
        </div>
    </div>
</section>


